* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore

# Binary files (no git LFS)
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.png binary
*.svg binary
*.psd binary
